<div class="">
    <form class="bg-dark d-flex p-3 justify-content-between" #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <h3 class="text-white me-5" style="cursor: pointer;" routerLink="/">AnimeApi</h3>
        <div class="d-flex flex-grow-1">
            <input class="form-control me-2" name="search" [(ngModel)]="inputData" type="search" placeholder="Search 100,000+ animes">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>
</div>